
<div class="container fluid cuerpa mx-6">
  <form>
    <div class="row justify-content-center">
      <div class="form-group col-5 campo">
          <label class="bmd-label-floating text-secondary campo">Nº Expediente</label>
          <input class="form-control rounded campo" >
          <span class="bmd-help">Numero de expediente asignado</span>
      </div>

      <div class="form-group col-3 campo">
        <label class="bmd-label-floating text-secondary campo">Numero</label>
        <input class="form-control rounded campo" >
        <span class="bmd-help">Numero de acta</span>
      </div>

      <div class="form-group text-truncate col-2 campo">
        <label class="bmd-label-floating text-secondary ">Tipo de Infracción</label>
        <input class="form-control" >
        <span class="bmd-help">Seleccione tipo según infracción realizada</span>
      </div>
    </div>

    <div class='row justify-content-center'>
        <div class="form-group col-5 campo">
          <label class="bmd-label-floating text-secondary">Lugar</label>
          <input class="form-control" >
          <span class="bmd-help">Lugar donde se cometió insfracción</span>
      </div>

      <div class="form-group col-5 campo">
        <label class="bmd-label-floating text-secondary">Tipo de Servicio</label>
        <input class="form-control" >
        <span class="bmd-help">Seleccione servicio de Lista</span>
      </div>
    </div>

    <div class='row justify-content-center'>
      <div class="form-group col-5 campo">
        <label class="bmd-label-floating text-secondary">Dominio</label>
        <input class="form-control" >
        <span class="bmd-help">Especifique el dominio al que pertence la infracción</span>
      </div>
    
      <div class="form-group col-5 campo">
        <label class="bmd-label-floating text-secondary">Titular</label>
        <input class="form-control" >
        <span class="bmd-help">Nombre del titular a cargo</span>
      </div>
    </div>

    <div class='row justify-content-center'>
      <div class="form-group col-5 campo">
        <label class="bmd-label-floating text-secondary">Grupo</label>
        <input class="form-control" >
        <span class="bmd-help">Ingrese grupo si corresponde</span>
      </div>
  
      <div class="form-group col-5 campo">
        <label class="bmd-label-floating text-secondary">Titular</label>
        <input class="form-control" >
        <span class="bmd-help">Nombre del titular a cargo</span>
      </div>
    </div>

    <div class='row justify-content-center'>
      <div class="form-group col-10 campo">
        <label class="bmd-label-floating text-secondary">Domicilio</label>
        <input class="form-control" >
        <span class="bmd-help">Ingrese domicilio completo</span>
      </div>
    </div>

    <div class='row justify-content-center'>
      <div class="form-group col-5 campo">
        <label class="bmd-label-floating text-secondary">Fecha Y Hora</label>
        <input class="form-control" >
        <span class="bmd-help">Ingres hora a la que fue levantada el acta</span>
      </div>
  
      <div class="form-group col-5 campo">
        <label class="bmd-label-floating text-secondary">Estado</label>
        <input class="form-control" >
        <span class="bmd-help">Estado actual del acta</span>
      </div>
    </div>

    <div class='row justify-content-center mt-4'>
      <div class='col-10'>  
        <div class='checkbox'>
          <label class='text-secondary'>
            <input type='checkbox'> Unidad Retenida
          </label>
        </div>
      </div>
    </div>

    <div class='row justify-content-center mt-4'>
      <div class='col-10'>  
        <div class='checkbox'>
          <label class='text-secondary'>
            <input type='checkbox'> Lista de Pasajeros
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
